.page {
  max-width: 1280px;
  margin: 0 auto;
}

.start-screen {
  padding: 0 var(--desctop-side-padding);
  background-image:
    url(../img/start-screen-puppy.png),
    url(../img/noise_transparent.png), radial-gradient(farthest-corner at 0px 0px,
      var(--color-grad-s) 0%,
      var(--color-grad-e) 100%);
  background-repeat: no-repeat, repeat, repeat;
  background-position: bottom right, center, center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-top: 30px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo__sub-title {
  margin-left: 4px;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.menu__item a {
  display: block;
  height: 24px;
  transition: 0.3s ease;
}

.menu__item--active {
  pointer-events: none;
}

.menu__item--active a {
  border-bottom: 3px solid var(--color-primary);
}

.menu__item:hover a {
  color: var(--color-light-s);
  cursor: pointer;
  transition: 0.3s ease;
}

.start-screen__container {
  margin-top: 90px;
  height: 728px;
}

.start-screen__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 42px;
  padding-top: 252px;
  height: 322px;
  width: 420px;
}

.start-screen__title {
  width: 310px;
  color: var(--color-light-xl);
}

.about {
  display: flex;
  gap: 120px;
  justify-content: center;
  background-color: var(--color-light-xl);
}

.about__content {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  height: 380px;
}

.about__content h3 {
  width: 370px;
}

.about__content p {
  color: var(--color-dark-xl);
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  background-color: var(--color-light-l);
}

.pets h3 {
  width: 400px;
  text-align: center;
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: var(--color-light-s);
  transition: 0.3s ease;
}

.pet-card:hover {
  background-color: var(--color-light-xl);
  cursor: pointer;
  transition: 0.3s ease;
}

.pets__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  gap: 90px;
}

.pets>.btn {
  width: 259px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-light-xl);
}

.help h3 {
  text-align: center;
}

.help__list {
  display: flex;
  gap: 55px 120px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
  justify-content: space-between;
}

.help__item svg {
  width: 60px;
  height: 60px;
}

.donation {
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: var(--color-light-l);
}

.donation__content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 380px;
  height: 282px;
}

.credit-card {
  height: 43px;
  padding: 10px 15px 10px 60px;
  border-radius: 9px;
  color: var(--color-dark-l);
  background-color: var(--color-primary);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  background-image: url(../img/credit-card.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 30px 23px;
}

.card-agreement {
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-dark-m);
}

footer {
  display: flex;
  justify-content: space-between;
  height: 310px;
  background-image:
    url(../img/noise_transparent.png), radial-gradient(farthest-corner at 0px 0px,
      var(--color-grad-s) 0%,
      var(--color-grad-e) 100%);
}

footer.wrapper {
  padding-top: 40px;
  padding-bottom: 0;
}

.contacts,
.location {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts {
  width: 279px;
}

.location {
  width: 302px;
}

.contact__item,
.location__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location__item a {
  width: 260px;
}

.contact-icon {
  width: 40px;
  height: 32px
}

.location-icon {
  width: 20px;
  height: 32px
}